# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environments
venv/
venv-test/
.env/
.venv/
# Streamlit
.streamlit/secrets.toml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build
dist/
build/

# Temporary
temp/
tmp/

# Cache
.cache/

# Torch cache
*.pt.cache

# Large training artifacts
checkpoints/
experiments/

# Node
node_modules/